<div class="checklist" 
     data-checklist-id="<%= checklist.id %>"
     data-checklist-reorder-url="<%= reorder_step_checklist_checklist_items_path(step, checklist) %>"
     data-checklist-create-url="<%= step_checklist_checklist_items_path(step, checklist) %>"
     data-checklist-delete-url="<%= step_checklist_path(step,checklist) %>"

>
  <div class="checklist-header">
    <div class="checklist-name">
      <%= render partial: "shared/inline_editing",
                 locals: { 
                    initial_value: checklist.name,
                    local_config: {
                      name: "checklist_name_#{checklist.id}",
                      field_to_udpate: 'name',
                      params_group: 'checklist',
                      path_to_update: step_checklist_path(step,checklist)
                    }
                  } %>   
    </div>
    <div class="checklist-actions">
      <span class="fas fa-arrow-up"></span>
      <span class="fas fa-arrow-down"></span>
      <span class="fas fa-pen edit-switcher"></span>
      <span class="fas fa-eye edit-switcher"></span>
      <span class="fas fa-trash"></span>
    </div>
  </div>

  <ul class="checklist-items">
    <% ordered_checklist_items(checklist).each do |checklist_item| %>
      <%= render partial: 'steps/inline_step/checklist_item', locals: {
        checklist: checklist,
        step: step,
        checklist_item: checklist_item
      } %>
    <% end %>
  </ul>
  <div class="new-checklist-item">
    <span class="fas fa-plus"></span>
    <span class="text"> 
      New checklist item
    </span>
  </div>
</div>