<div class="inline-step">
  <div class="step-header">
    <div class="step-collapse">
      <span class="fas fa-chevron-up"></span>
    </div>
    <div class="step-position"><%= step.position + 1 %></div>
    <div class="step-name">
      <%= render partial: "shared/inline_editing.html.erb",
                 locals: { 
                    initial_value: step.name,
                    local_config: {
                      name: "step_name_#{step.id}",
                      field_to_udpate: 'name',
                      params_group: 'step',
                      path_to_update: update_name_step_path(step.id)
                    }
                  } %>    
    </div>
    <div class="step-actions fix-block">
      <span class="dropdown"> 
        <a href="#" data-toggle="dropdown" class="add-new-items-handler" id="step_<%= step.id %>_new_items" aria-haspopup="true" aria-expanded="false">
           <span class="fas fa-plus-circle dropdown-handler"></span>
        </a>
        <ul class="dropdown-menu add-new-items" aria-labelledby="step_<%= step.id %>_new_items" role="menu" >
          <li class="add-item checklists" data-url="<%= step_checklists_path(step) %>" >Add Checklists</li>
          <li class="add-item assets <%= 'hidden' if step.assets.any? %>">Add Attachments</li>
        </ul>
      </span>
      <span class="fas fa-arrow-up move-step"
            data-move-url="<%= move_up_step_path(step, format: :json) %>"
      ></span>
      <span class="fas fa-arrow-down move-step"
            data-move-url="<%= move_down_step_path(step, format: :json) %>"
      ></span>
      
      <span class="step-options dropdown"> 
        <a href="#" data-toggle="dropdown" class="step-options-button" id="step_<%= step.id %>_options" aria-haspopup="true" aria-expanded="false">
           <span class="fas fa-ellipsis-h dropdown-handler"></span>
        </a>
        <ul class="dropdown-menu step-options-items" aria-labelledby="step_<%= step.id %>_options" role="menu" >
          <li class="step-option complete" >Complete step</li>
          <li class="step-option destroy" data-destroy-url="<%= step_path(step) %>" >Delete step</li>
        </ul>
      </span>
    </div>
  </div>
  <div class="step-body">
    <div class="step-description">
      <%= render partial: "shared/tiny_mce_editor.html.erb",
                 locals: { 
                    object: step,
                    update_url: update_description_step_path(step.id),
                    field: :description
                  } %>
    </div>
    <div class="step-checklists"
         data-reorder-url="<%= reorder_step_checklists_path(step.id) %>"
    >
      <% if step.checklists.any? %>
        <% step.checklists.order(:position).each do |checklist| %>
          <%= render partial: 'steps/inline_step/checklist.html.erb', locals: {
            checklist: checklist,
            step: step
          } %>
        <% end %>
      <% end %>
    </div>
    <div class="step-tables">
      <%= render partial: 'steps/inline_step/tables.html.erb', locals: {step: step} %>
    </div>
    <div class="step-assets <%= 'hidden' unless step.assets.any? %>" >
       <%= render partial: 'steps/inline_step/assets.html.erb', locals: {  step: step, preview: false } %>
    </div>
    <div class="step-comments">
      <%= render partial: 'steps/comments.html.erb', locals: {  comments: step.last_comments,
                                                                    comments_count: step.step_comments.count,
                                                                    step: step } %>
    </div>
  </div>
</div>